body{
    background-color: #d6efff;
    font-style: initial;
    background-image: url("../img/fondo1.png");

}

.btn-primary{
    background-color: #020b57;
    border-color: #020b57;
}

.btn-primary:hover{
    background-color: #0e11da;
    border-color: #0e11da;
}



header{
    background-color: #0f0f0f;
    width: 100%;
    height: 70px;
}